/* featured collections main section */

.main {
    margin-top: 6rem;
    box-shadow: 5px 10px 10px 5px rgb(170, 170, 170);
    width: 85%;
    height: 70vh;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem 1rem 4rem;
    margin: 0 auto;
    /* box-shadow: 5px 10px 10px 5px rgba(200, 200, 200, 1); */
}

.collection-heading {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 1rem 1.5rem 1rem;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--mainBlue);
    letter-spacing: 1rem;
}