/* Utility classes  */

.f-display-center {
    display: flex;
    justify-content: space-evenly;
}


/* Text utilities */

text-center {
    text-align: center;
}

.primary-color {
    color: var();
}