@import './styles/utilities/utilities.css';
@import './styles/headers/page_header.css';
@import './styles/components/cards.css';
@import './styles/components/card-container.css';
:root {
    /* colors */
    --mainBlue: rgba(6, 6, 62, 1);
    --secondBlue: rgba(60, 60, 122);
    --cardBackground: rgba(200, 200, 200, 0.2);
    --cardText: rgba(120, 120, 120, 1);
}


/* Body HTML  */

*,
*>* {
    box-sizing: border-box;
}

body,
html {
    /* background-color: rgba(253, 253, 253, .8); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}